.logo{
    height: 60px;
}
.navbar{
    height: 80px;
    display: flex;
    width: 100vw;
    color: white;
    justify-content: space-between;
    padding: 10px 100px 0px 100px;
    background: linear-gradient(90deg, rgba(255,255,255,0.768032212885154) 30%, rgba(0,0,0,0.5943627450980392) 63%);
    backdrop-filter: blur(15px);
    box-shadow: rgba(0, 0, 0, 0.241) 2px 5px 3px;
}
.link{
display: flex;
gap: 20px;
font-size: 1.2rem;
align-items: center;
}